Repository mabreyes/dlsu-lecture-slides: changes, and which pre-commit hooks are due for each by the changed paths.
All: npm-audit, npm-test, pytest

.pre-commit-config.yaml:

repos:
# General file formatting hooks
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
    -   id: trailing-whitespace
    -   id: end-of-file-fixer
    -   id: check-yaml
    -   id: check-json
    -   id: check-added-large-files
        args: ['--maxkb=1000']
    -   id: check-case-conflict
    -   id: check-merge-conflict
    -   id: mixed-line-ending
        args: ['--fix=lf']
    -   id: check-symlinks
    -   id: detect-private-key

# Markdown specific hooks

# Spell checker (works for all file types)
-   repo: https://github.com/codespell-project/codespell
    rev: v2.2.6
    hooks:
    -   id: codespell
        args: [--ignore-words=.codespellignore]

# Python specific hooks
-   repo: https://github.com/psf/black
    rev: 24.1.1
    hooks:
    -   id: black
        language_version: python3
        exclude: ^(node_modules|dist)/

-   repo: https://github.com/pycqa/isort
    rev: 5.13.2
    hooks:
    -   id: isort
        exclude: ^(node_modules|dist)/

-   repo: https://github.com/pycqa/flake8
    rev: 7.0.0
    hooks:
    -   id: flake8
        exclude: ^(node_modules|dist)/
        additional_dependencies: [flake8-docstrings]

-   repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.8.0
    hooks:
    -   id: mypy
        exclude: ^(node_modules|dist)/
        additional_dependencies: [types-requests]

-   repo: https://github.com/PyCQA/bandit
    rev: 1.7.6
    hooks:
    -   id: bandit
        args: ['-c', '.bandit.yaml']
        exclude: ^(node_modules|dist|tests)/

# JavaScript/Node.js specific hooks
-   repo: https://github.com/pre-commit/mirrors-eslint
    rev: v8.56.0
    hooks:
    -   id: eslint
        files: \.(js|jsx|ts|tsx)$
        types: [file]
        additional_dependencies:
        -   eslint@8.56.0
        -   eslint-plugin-import@2.29.1
        -   eslint-plugin-react@7.33.2
        -   eslint-config-prettier@9.1.0
        exclude: ^(\.github|docs|python)/

-   repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.1.0
    hooks:
    -   id: prettier
        types_or: [javascript, jsx, ts, tsx, json, css]
        exclude: ^(\.github|python)/

# Local hooks - run custom scripts
-   repo: local
    hooks:
    # Run npm audit for node project
    -   id: npm-audit
        name: npm audit
        entry: bash -c 'cd src && npm audit --audit-level=high'
        language: system
        files: package\.json|package-lock\.json
        pass_filenames: false

    # Run tests for node project
    -   id: npm-test
        name: npm test
        entry: bash -c 'cd src && npm test'
        language: system
        files: \.(js|jsx|ts|tsx)$
        pass_filenames: false
        stages: [pre-push]

    # Run tests for python code
    -   id: pytest
        name: pytest
        entry: pytest
        language: system
        types: [python]
        pass_filenames: false
        stages: [pre-push]

chore: Code cleanup
  .pre-commit-config 2.yaml
Due: none

fix: Overflow on smaller screns and added makefile
  Makefile
  src/css/styles.css
Due: none

fix: Update repo clone url
  README.md
Due: none

fix: Color scheme no gradient
  src/css/styles.css
Due: none

fix: Update color scheme
  src/css/styles.css
Due: none

fix: Update font
  src/css/styles.css
  src/index.html
Due: none

fix: Update fontface
  src/css/styles.css
Due: none

fix: Open link in a new tab
  src/index.html
Due: none

fix: Gaussian clusters training
  src/index.html
  src/js/dataGenerator.js
  src/js/index.js
  src/js/mlp.js
Due: npm-test

fix: Increase height of visualization container
  src/css/styles.css
Due: none

fix: Enlarge visualizations
  src/css/styles.css
  src/css/visualizations.css
  src/index.html
  src/js/dataVisualizer.js
  src/js/visualizer.js
Due: npm-test

feature: Add tooltip to the neurons
  src/css/visualizations.css
  src/js/dataVisualizer.js
  src/js/visualizer.js
Due: npm-test

fix: Make predictiosn darker
  src/css/visualizations.css
  src/js/dataVisualizer.js
Due: npm-test

fix: Make predictiosn darker and add presentation
  presentation/mlp_v2.md
  presentation/mlp_v2.pdf
  src/css/visualizations.css
  src/js/dataVisualizer.js
Due: npm-test

fix: Update presentation and render the diagrams in mermaid
  presentation/engine.js
  presentation/kroki-plugin.js
  presentation/marp.config.js
  presentation/math-styles.css
  presentation/mermaid-plugin.js
  presentation/mlp_v2.html
  presentation/mlp_v2.md
  presentation/mlp_v2.pdf
Due: npm-test

fix: Update presentation and render the diagrams in mermaid
  engine.js
  package.json
  presentation/engine.js
  presentation/kroki-plugin.js
  presentation/marp.config.js
  presentation/math-styles.css
  presentation/mermaid-plugin.js
  presentation/mlp_v2.html
  presentation/mlp_v2.md
Due: npm-audit, npm-test

chore: File cleanup and ixes in rendering formulae in mermaid
  presentation/formula-styles.css
  presentation/hello.py
  presentation/live.html
  presentation/live.md
  presentation/live.pdf
  presentation/math-formulas.js
  presentation/mlp.html
  presentation/mlp.ipynb
  presentation/mlp.md
  presentation/mlp.pdf
  presentation/mlp_v2.html
  presentation/mlp_v2.md
  presentation/mlp_v2.pdf
Due: npm-test, pytest

chore: contd cleanup in slide titles
  .gitignore
  presentation/mlp.html
  presentation/mlp.md
Due: none

feature: Add link to slide on the top navbar
  .gitignore
  package.json
  presentation/mlp.html
  presentation/mlp.md
  src/css/styles.css
  src/index.html
  webpack.config.js
Due: npm-audit, npm-test

feature: Update presentation
  presentation/mlp.html
  presentation/mlp.md
  src/css/styles.css
  webpack.config.js
Due: npm-test

fix: Update slide contents
  presentation/mlp.html
  presentation/mlp.md
Due: none

feature: Update presentation
  presentation/mlp.pdf
Due: none

feature: Add speaker notes
  presentation/mlp.html
  presentation/mlp.md
Due: none

fix: FOUC and add 404 page
  presentation/mlp.html
  presentation/mlp.md
  public/index.html
  src/404.html
  src/index.html
  webpack.config.js
Due: npm-test
